body, td, div, textarea, input, select {
	font-family:  "微软雅黑";
	font-size: 12px;
}
body {
	margin: 0px;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:link img {
	border: none;
}
a:visited {
	color: #000000;
	text-decoration: underline;
}
a:active {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #f0422a;
	text-decoration: underline;
}
.red {
	color: #ee4227;
}
a.red:link {
	color: #ee4227;
	text-decoration: underline;
}
a.red:visited {
	color: #871503;
	text-decoration: none;
}
a.red:active {
	color: #ee4227;
	text-decoration: none;
}
a.red:hover {
	color: #e33f25;
	text-decoration: none;
}
.mainbody {
	color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	list-style: none;
}

.mainbody_bg {
	background-color: #FFFFFF;
}


.prompt {
	background: #d3d1d1;
	padding: 10px;
	font-family: "微软雅黑";
	color: #000000;
	font-size: 12px;
	height: 35px;
}

.title_common {
	color: #000000;
	padding-left: 10px;
	width: 100%;
}

/* old other title css */
.PageTitle {
	margin-left:15x;
	width:100%;
}

.PageTitle_title {
	height:30px;
	line-height:30px;
	font-size:16px;
	font-family: "微软雅黑";
}

.PageTitle_content {
	padding: 18px 10px 18px 10px;
	font-size:12px;
	font-family: "微软雅黑";
	background-color: #d3d1d1;
	color:#000000;
}

.table_title {
	background-color: #d3d1d1;
	padding-left: 5px;
	height: 24px;
	line-height: 24px;
	color: #000000;
}

.table_right {
	background-color: #d3d1d1;
	padding-left: 5px;
	height: 24px;
	line-height: 24px;
	color: #000000;
}

.head_title {
	border: #000;
	background: #d3d1d1;
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	height: 20px;
	line-height: 150%;
}

.head_summary {
	border: #000 0px;
	background-color: #525050;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: #333333;
	height: 20px;
	line-height: 150%;
}

.tabal_bg, .tabal_noborder_bg, .pm_tabal_bg, .table_bg{
	
}

.table_title_pwd {
	background-color: #e3e3e3;
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
	font-weight: bolder;
}


.table_right_pwd {
	background-color: #e3e3e3;
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
}

.tabal_pwd_notice {
 background-color: #e3e3e3;
 padding-left: 5px;
 height: 15px;
 line-height: 15px;
 color:#000000;
}

.tabal_center01 {
	background-color: #d3d1d1;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #000000;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
	text-align: center;
}

.tabal_01 {
	background-color: #d3d1d1;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #000000;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
}
.tabal_02 {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #000000;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
}

.align_left{
	text-align: left;
}

#btnBrowse {
	right: 0;
	z-index: 1;
	width: 65px;
	text-align: center;
	position: absolute;
	white-space: nowrap;
	text-align: left;
	cursor: pointer;
}

#f_file {
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 3;
	width: 182px;
	height: 19px;
	line-height: 18px;
	color: #777777;
	position: absolute;
	text-align: left;
	font-size: 11px;
	font-family: Arial;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #B5B8C8;
	background-color: #FFFFFF;
}

#t_file {
	right: 0;
	margin: 0;
	padding: 0;
	height: 22px;
	opacity: 0;
	width: 80px;
	filter:alpha(opacity=0);
	position: absolute;
	text-align: left;
	white-space: nowrap;
	z-index: 2;
	cursor: pointer;
	font-size: 50px\9;
}

.gray {
	color: #767373;
}
.color_red{
	color:#FF0033;
}
.color_yellow1 {
	color:#FF9966;
	font-size:larger;
}
.color_bule1 {
	color:#3333FF;
}

.displaynone{
	display:none;
}

.amp_font {
	font-family: "微软雅黑";
}

.table_button {
	border: #000;
}
.table_submit {
	padding-left: 5px;
	height: 24px;
	line-height: 24px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.submit {
	background: #d3d1d1;
	font: 12px Arial;
	height: 21px;
	border: #777777 1px solid;
	padding-left: 5px;
	padding-right: 5px;
	color: #000000;
	margin-left:3px;
}

.ApplyButtoncss, .CancleButtonCss, .whitebuttoncss{
	background: #d3d1d1;
	font: 12px Arial;
	height: 21px;
	border: #777777 1px solid;
	padding-left: 5px;
	padding-right: 5px;
	color: #000000;
	margin-left:3px;
}

.PageNext{
	background: #d3d1d1;
	font: 12px Arial;
	height: 21px;
	border: #777777 1px solid;
	padding-left: 5px;
	padding-right: 5px;
	color: #000000;
	margin-right:3px;
}

/* button length is just need for framesmart */
.buttonwidth_100px {
	/*width:100px;*/
}

.buttonwidth_150px {
	/*width:150px;*/
}

.buttonwidth_97px_150px {
	/*width:97px;*/
}

.buttonwidth_120px_140px {
	/*width:120px;*/
}

.buttonwidth_120px_180px {
	/*width:120px;*/
}

.buttonwidth_120px_200px {
	/*width:120px;*/
}

.buttonwidth_150px_200px {
	/*width:150px;*/
}

.submit_bbspuser1 {
	background: #fefefe url(../../images/button_bg.gif) center repeat-x;
	font: 12px Arial;
	height: 20px;
	border:0px;
	padding-left:4px;
	padding-right: 5px;
	margin-top:0px;
}

.tabal_head {
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight: bold;
	padding-left: 0px;
	color: #000000;
	height: 20px;
	line-height: 20px;
}

.pad_top5p {
	padding-top:5px;
}
.pad_left5p{
	padding-left: 5px
}
.pad_left10p {
	padding-left:10px;
}
.pad_left20p {
	padding-left:20px;
}

.align_center {
	text-align: center;
}
.align_right
{
	text-align: right;
}

.z_index_2 {
	z-index: 2;
}

.text_log {
	width: 99%;
	height: 330px;
	margin-bottom: 20px;
}
.title_bright1{
	text-align: right;
	padding-top:5px;
	color:#000000;
}

.filewrap {
	margin: 0; padding: 0;
}
.fileupload {
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	width: 250px;
	height: 22px;
	position: relative;
	white-space: nowrap;
}

.restrict_dir_ltr {
	direction:ltr;
}

form{
	padding:0;
	margin:0;
}

.per_5_10{
	width: 5%;
}

.per_5_15{
	width: 5%;
}

.per_8_13{
	width: 8%;
}

.per_8_15{
	width: 8%;
}

.per_10_15{
	width: 10%;
}

.per_13_15{
	width: 15%;
}

.per_13_16{
	width: 13%;
}

.per_15_20{
	width: 15%;
}

.per_15_25{
	width: 15%;
}

.per_18_21{
	width: 21%;
}

.per_18_23{
	width: 18%;
}

.per_18_25{
	width: 18%;
}

.per_20_25{
	width: 20%;
}

.per_25_35{
	width: 25%;
}

.per_30_35{
	width: 30%;
}

.per_35_40{
	width: 35%;
}

.per_35_52{
	width: 40%;
}

.per_40_45{
	width: 40%;
}

.per_65_48{
	width: 65%;
}

.per_10_5{
	width: 10%;
}

.per_9_14{
	width: 9%;
}

.pix_40_60{
width: 40px;
}

.pix_50_80{
	width: 50px;
}

.pix_70_120{
	width: 70px;
}

.pix_70_130{
	width: 70px;
}

.pix_90_130{
	width: 90px;
}

.pix_100_120{
	width: 100px;
}

.pix_100_150{
	width: 100px;
}

.pix_100_180{
	width: 100px;
}

.NewDelbuttoncss {
	font: 12px Arial;
    height: 21px;
    border: #777777 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    background: #d3d1d1;
    color: #000000;
    margin-left:5px;
    margin-right:5px;
}

.NewDelbuttoncss1 {
	background: #fefefe url(../../images/button_bg.gif) center repeat-x;
	font: 12px Arial;
	height: 21px;
	border: #c8c8c8 1px solid;
	padding-left: 5px;
	padding-right: 5px;
}

.alignment_rule
{
	text-align: right;
}


.divsummaryicon{
	width:18px;
	height:18px;
	line-height:18px;
	float:left;
}

.summaryicon {
	width:18px;
	height:18px;
}
.pageicontext {
	height:18px;
	line-height:18px;
	text-align:left;
}

.divpageicontext{
	width:200px;
}

.title_spread{
	height:10px;
}

.list_table_spread{
	height:0px;
}

.func_spread{
	height:10px;
}

.button_spread{
	height: 5px;
}

.block_title{
	text-align:left;
}

.func_title{
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	height: 20px;
	line-height: 150%;
	text-align: left;
}

.tableTopTitle{
	background-color: #c3c2c2;
	padding-left: 5px;
	height: 24px;
	line-height: 150%;
}

.TagTitle {
	font-size:14px;
	height: 14px;
	text-decoration :underline;
	white-space: nowrap;
}

.TagTitle1 {
	text-decoration :underline;
}

.TagTitleClick{
	color:#ee4227;
}

.TagTitleNoClick{
	color:#000000;
}

.TagLine {
	font-size:14px;
	color:#000000;
}

.TagLineSpace {
	width: 10px;
}

.RadioDevice {
	height: 12px;
	font-size:12px;
}

.LanBg {
	background-color: #d3d1d1;
	height: 24px;
	line-height: 24px;
	color:#000000;
}
.MBIOTRestoreInfo{
	width:450px;
	height:200px;
	z-index:100;
	margin-left:100px;
	margin-top:60px;
	background-color:#FFFFFF;
	position:absolute;
	-mox-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:none;
}

.IotRestroeButtonCss{
	height:40px;
	width:200px;
	margin-left:auto;
	margin-right:auto;
}

.iotResetHeadSpanCss{
	padding-left:20px;
	padding-right:20px;
	height:24px;
}

#progress_bar_container{
	position: relative;
	display: none;
	width: 100%;
	height: 20px;
	margin-top: 15px;
	background-color: #c0c0c0;
}

.percentage{
	position: absolute;
	width: 100%;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 18px; 
	z-index: 1;
}

.bar{
	position: absolute;
	width: 0;
	height: 20px;
	background-color: #de4901;
}
#diagnose {
    width: 100%;
    height: 271px;
    margin: 0px auto;
    background-color: #d3d1d1;
}
html {
	background: hsl(0deg 0% 95%);
}
.osgidisable
{
	color: #767373;
	background: #d3d1d1;
}
/*
::-webkit-scrollbar{width:10px;background-color:#000000;}
::-webkit-scrollbar-thumb{background-color:#c3cad4;border-radius:10px;border:2px solid #e1e5ea;}
::-webkit-scrollbar-thumb:hover{background-color:#aab1bc;}
::-webkit-scrollbar-thumb:active{border:0;border-radius:0;background-color:#737ed7}
::-webkit-scrollbar-thumb:window-inactive{background-color:#4c97da}*/