div#main {
	margin: 0px auto;
}

div#main div#header {
	height: 46px;
}
div#main div#header div#headerLogoImg {
	float: left;
	height: 70px;
	width: 144px;
	background: url('../../images/banner_logo.gif') no-repeat center;
}
div#main div#header div#headerContent {
	clear: both;
	float: left;
	height: 46px;
	width: 860px;
}
div#main div#header div#headerContent div#headerInfo {
	height: 30px;
}

div#main div#header div#headerContent div#headerLogout {
	float: right;
	margin-top: 5px;
}
div#main div#header div#headerContent div#headerLogout span {
	float: right;
	margin-right: 28px;
	cursor: pointer;
	width:100px;
	height:40px;
}
div#main div#header div#headerContent div#headerTab {
	float: left;
	margin-top: 6px;
	margin-left: 15px;
	height: 40px;
	line-height: 20px;
}
div#main div#header div#headerContent div#headerTab ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
div#main div#header div#headerContent div#headerTab ul li {
	height: 40px;
	width: 100px;
	float: left;
	cursor: pointer;
	margin: 0px -1px;
}
div#main div#header div#headerContent div#headerTab ul li div {
	float: left;
}
div#main div#header div#headerContent div#headerTab ul li div.tabBtnCenter {
	height: 40px;
	width: 100px;
	font-size: 15px;
	color: #000000;
}
div#main div#header div#headerContent div#headerTab ul li div.a1 {
	background-image: url(../../images/1.gif);
}
div#main div#header div#headerContent div#headerTab ul li div.a2 {
	background-image: url(../../images/2.gif);
}
div#main div#header div#headerContent div#headerTab ul li div.a3 {
	background-image: url(../../images/3.gif);
}
div#main div#header div#headerContent div#headerTab ul li div.a4 {
	background-image: url(../../images/4.gif);
}
div#main div#header div#headerContent div#headerTab ul li div.a5 {
	background-image: url(../../images/5.gif);
}
div#main div#header div#headerContent div#headerTab ul li div.a6 {
	background-image: url(../../images/6.gif);
}
div#main div#header div#headerContent div#headerTab ul li.hover1 div.tabBtnCenter {
	background-image: url('../../images/a1.gif');
	color: #ff9348;
}
div#main div#header div#headerContent div#headerTab ul li.hover2 div.tabBtnCenter {
	background-image: url('../../images/b.gif');
	color: #ff9348;
}
div#main div#header div#headerContent div#headerTab ul li.hover3 div.tabBtnCenter {
	background-image: url('../../images/c.gif');
	color: #ff9348;
}
div#main div#header div#headerContent div#headerTab ul li.hover4 div.tabBtnCenter {
	background-image: url('../../images/d.gif');
	color: #ff9348;
}
div#main div#header div#headerContent div#headerTab ul li.hover5 div.tabBtnCenter {
	background-image: url('../../images/e.gif');
	color: #ff9348;
}
div#main div#header div#headerContent div#headerTab ul li.hover6 div.tabBtnCenter {
	background-image: url('../../images/f.gif');
	color: #ff9348;
}
div#main div#center {
	height: 422px;
}
div#main div#center div#nav {
	margin-top:43px;
	width: 163px;
	height: 375px;
	float: left;
	font-size: 14px;
}
div#main div#center div#nav ul {
	height:375px;
	overflow-y:auto;
	overflow-x:hidden;
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	list-style-type: none;
}
div#main div#center div#nav ul li div {
	width: 150px;
	height: 44px;
	vertical-align: top;
	margin-top:9px;
	margin-left: auto;
	margin-right: auto;
	color: #000000;
	cursor: pointer;
	line-height: 44px;
	text-align: center;
	background-image: url(../../images/status0.gif);
	background-repeat: no-repeat;
}
div#main div#center div#nav ul li.hover div {
	color: #ff9348;
	cursor: pointer;
	background-image: url(../../images/status1.gif);
	background-repeat: no-repeat;
}
div#main div#center div#content {
	float: left;
	width: 675px;
	height: 415px;
	font-size: 12px;
}
div#main div#center div#topNavContent{
	width: 690px;
	height: 58px;
	color: #000000;
	float: left;
}
div#main div#center div#content div#topNavContent div#topNav {
	width: 690px;
	height: 26px;
	vertical-align: top;
	margin-top:10px;
	color: #000000;
}
div#main div#center div#content div#topNavContent div#topNav ul {
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}
div#main div#center div#content div#topNavContent div#topNav ul li {
	height: 26px;
	float: left;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	margin: 0px 0px;
	line-height: 26px;
}
div#main div#center div#content div#topNavContent div#topNav ul li div {
	float: left;
}
div#main div#center div#content div#topNavContent div#topNav ul li div.tabBtnLeft {
	width: 12px;
	height: 26px;
	clear: both;
	text-align: center;
	background-image: url(../../images/inittableft.gif);
	background-repeat: no-repeat;
}
div#main div#center div#content div#topNavContent div#topNav ul li div.tabBtnCenter {
	height: 26px;
	color: #000000;
	text-align: center;
	background-image: url(../../images/inittabmid.gif);
	background-repeat: repeat-x;
}
div#main div#center div#content div#topNavContent div#topNav ul li div.tabBtnRight {
	width: 12px;
	height: 26px;
	text-align: center;
	background-image: url(../../images/inittabright.gif);
	background-repeat: no-repeat;
}
div#main div#center div#content div#topNavContent div#topNav ul li.hover div {
	float: left;
}
div#main div#center div#content div#topNavContent div#topNav ul li.hover div.tabBtnLeft {
	width: 12px;
	height: 26px;
	clear: both;
	background-image: url(../../images/clicktableft.gif);
	background-repeat: no-repeat;
}
div#main div#center div#content div#topNavContent div#topNav ul li.hover div.tabBtnCenter {
	height: 26px;
	color: #ff9348;
	text-align: center;
	background-image: url(../../images/clicktabmid.gif);
	background-repeat: repeat-x;
}
div#main div#center div#content div#topNavContent div#topNav ul li.hover div.tabBtnRight {
	width: 12px; 
	height: 26px;
	background-image: url(../../images/clicktabright.gif);
	background-repeat: no-repeat;
}

div#main div#center div#content div#frameWarp{
	float: left;
	width: 680px;
	height: 364px;
	position:relative;
}

div#main div#center div#content div#frameWarp div#frameWarpContent {
	float: left;
	width: 600px;
	height: 340px;
	position:relative;
	margin-left:38px;
	margin-top:5px;
}

div#main div#footer {
	clear: both;
	width: 833px;
	height: 75px;
	vertical-align: left;
	background-repeat: no-repeat;

}
div#main table {
	height: 100%;
	margin: 0px auto;
}
div#main div#footer #footer_netAddr {
	border:0;
	background-image: url(../../images/netAddr.gif);
	height: 14px;
	width: 124px;	
	float: left;
	background-repeat: no-repeat;
}
div#main div#footer #footer_phone {
	border:0;
	background-image: url(../../images/phone.gif);
	height: 14px;
	width: 59px;	
	float: right;
	background-repeat: no-repeat;
}

div#main div#fresh {
	display: none;
}

* {
	font-family: 微软雅黑;
}
body {
	margin: 0px;
	padding: 0px;
}
input.inputText {
	height: 21px;
	width: 180px;
	border: 0px;
	font-size: 12px;
	font-family: 微软雅黑;
	background: url('../../images/login_inupt.gif') transparent no-repeat center;
}
input.button {
	height: 21px;
	border: 1px solid #C8C8C8;
	background: url('../../images/button_bg.gif') transparent repeat-x center;
}
/*
::-webkit-scrollbar{width:10px;background-color:#000000;}
::-webkit-scrollbar-thumb{background-color:#c3cad4;border-radius:10px;border:2px solid #e1e5ea;}
::-webkit-scrollbar-thumb:hover{background-color:#aab1bc;}
::-webkit-scrollbar-thumb:active{border:0;border-radius:0;background-color:#737ed7}
::-webkit-scrollbar-thumb:window-inactive{background-color:#4c97da}
*/