body
{ 
    font-family: "Arial";
	font-size: 12px;
    background-color:#ffffff;
	margin-left:40px;
	margin-top:10px;
	color: #333333;
} 


/*----------------------------------new--------------------------------*/
.tabInfo
{
	border-top:1px solid  #990000; 
	border-left:1px solid  #dcdcdc;
	border-right:1px solid  #dcdcdc;
	border-bottom:1px solid  #dcdcdc;
	width:100%;
	
	/*cellspacing="0"*/
	border-collapse:collapse; 
    border-spacing:0; 
}

.tdTabTitile
{
	font-size:14px;
	color:#ffffff;
}

.trTabHead td
{
	color:#000000;
	font-family:Arial;
	font-size:12px; 
	background-color:#d1d1d1;
	border:1px solid  #dcdcdc;
	text-align:center;
	
	/*cellpadding="0"*/
	padding: 0;
}

.trTabContent td
{
	font-family:Arial;
	font-size:12px; 
	border:1px solid  #dcdcdc;
	text-align:center;
	
	/*cellpadding="0"*/
	padding: 3;
}
.trTabContent 
{ 
	background-color:#f4f4f4;
	color:#000000;
}  

.trTabConfigure td
{
	border-bottom:1px solid  #dcdcdc;
	font-family:Arial;
	font-size:12px; 
}
.trTabConfigure 
{ 
    background-color:#f4f4f4;
	color:#000000;
	border:1px solid  #dcdcdc;
} 

.trTabCfgHead
{ 
    background-color:#dcdcdc;
	border:0;
	font-family:Arial;
	font-size:12px;
	color:#000000;
} 

.tabCfgArea
{ 
	border:2px solid  #006699;
	width:100%;
} 

.tabMainCfg
{
	border:1px solid  #f4f4f4;
	background-color:#f4f4f4;
	font-size:12px;
}

.tabCfgContent
{
	border-left:1px solid  #dcdcdc;
	border-right:1px solid  #dcdcdc;
	border-top:1px solid  #dcdcdc;
	width:100%;
	background-color:#f4f4f4;
	color:#000000;	
	font-family:Arial;
/*	text-align:right;*/
}
.tabContent
{
	border-left:1px solid  #dcdcdc;
	border-right:1px solid  #dcdcdc;
	border-bottom:1px solid  #dcdcdc;
	width:100%;
	background-color:#f4f4f4;
	color:#000000;	
	font-family:Arial;
/*	text-align:right;*/
}
.tabContent td
{
	border-bottom:1px solid  #dcdcdc;
	font-size:12px;	
}
.tabCfgContent td
{
	border-bottom:1px solid  #dcdcdc;
	font-size:12px;	
}

.tdOperation
{
	height:15px;
	width:78px;
	text-align:center;
	vertical-align:middle;

	
}

.tdOperation a
{
	text-decoration :none;
	font-family:Arial;
	font-size:10px;
	color:black;
}

#btnNew
{
	cursor:hand;
}

#btnRemove
{
	cursor:hand;
}

.btnHelp
{
	cursor:help;
}

.changebutton{font-family:Arial; font-size:14px;}

/*for firefox*/
input[type="text"] {
	height:20px;
/*	width:60px;*/
}
input[type="password"] {
	height:20px;
/*	width:60px;*/
}
input[type="file"] {
	height:20px;
	font-family:Arial;
	font-size:12px;
/*	width:60px;*/
}
select {
	font-family: "Arial";
	font-size: 12px;
}

/* For IE*/
input {
	height: expression(( type == "text" || type == "password" || type == "select" ) ? "20px":"auto");
/*	width: expression(( type == "text" || type == "password") ? "60px":"auto");*/
	font-family: expression(( type == "text" || type == "password" || type == "select" || type == "file") ? "Arial":"auto");
	font-size: expression( ( type == "file") ? "12px" : "auto");
}

.noticeInfo
{
	border-top:1px solid  #990000; 
	border-left:1px solid  #f4f4f4;
	border-right:1px solid  #f4f4f4;
	border-bottom:1px solid  #f4f4f4;
	
	background-color:#f4f4f4;
	
	/*cellspacing="0"*/
	border-collapse:collapse; 
    border-spacing:0; 
}

.noticeInfo td
{
	font-family:Arial;
	font-size:16px;
}
.divErrInfo {
  border-top:3px solid  #f6e200; 
  border-left:3px solid  #f6e200;
  border-right:3px solid  #f6e200;
  border-bottom:0px none  #f6e200;
  padding: 3px;
}

.divErrInfo h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #f6e200;
  color: #000;
}

.divErrInfo p {
  color: #000;
  margin-bottom: 0;
  padding: 5px;
  font-size:12px;
}

.divErrInfo ul li {
  font-size: 12px;
}
.backGround{
  background-color: #fef8B5;
}
.divErrInfoEx{
 border-top:0px none  #f6e200; 
  border-left:3px solid  #f6e200;
  border-right:3px solid  #f6e200;
  border-bottom:3px solid  #f6e200;
}
