.treeview { 
	padding: 0;
	list-style: none;
	margin: 0;
}

.treeview .hitarea {
	background:#FFFFFF url(images/minus.gif) no-repeat 0;
	height: 16px;
	margin-left: -16px;
	cursor: pointer;
	width: 16px;
	float: left;
}

.treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: white;
	margin-top: 4px;
}

.treeview .hitareaEx {
	width: 16px;
	float: left;
	cursor: pointer;
	height: 16px;
	margin-left: -16px;
}
* html .hitarea{
	float: none;
	display: inline;
}

* html .hitareaEx{
	display: inline;
	float: none;
}

.treeview li {
	padding: 3px 0pt 3px 20px;
	margin: 0;
}


#treecontrol { margin: 1em 0; display: none; }

/*for div*/
.treeview .expandable-hitarea
{ 
	background:#FFFFFF url(images/plus.gif) no-repeat 0;
	_background:#FFFFFF url(images/plus.gif) no-repeat 30% 50%;
}

.treeview .hover { color: red; cursor: pointer; }

.treeview a.selected {
	background-color: #eee;
}

#maskContent{
	position:fixed;
	_position:absolute;
	background:#999999;
	border:1px solid #cecece;
	z-index:1500;
	display:none;
	height:100%;
	width:100%;
	top:0;
	left:0;
}

#maskWaiteImg{
	position:absolute; 
	display:none; 
	padding:10px; 
	height:100px;
	width: 100px;
	background: url(images/load.gif) no-repeat 50% 50%;
	z-index:2000;
}
