@charset "utf-8";
body,
td,
div,
textarea,
input,
select {
    font-family: "Arial", "宋体";
    font-size: 12px;
    font-weight: bold;
}

body {
    margin: 0px;
}

a:link {
    color: #0000ff;
    text-decoration: none;
}

a:link img {
    border: none;
}

a:visited {
    color: #0000ff;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.red {
    color: #ee4227;
}

a.red:link {
    color: #ee4227;
    text-decoration: none;
}

a.red:visited {
    color: #871503;
    text-decoration: none;
}

a.red:active {
    color: #ee4227;
    text-decoration: none;
}

a.red:hover {
    color: #e33f25;
    text-decoration: none;
}

.whitebold {
    color: #fff;
    font-weight: bold;
}

a.whitebold:link {
    color: #c9c9c9;
    text-decoration: none;
}

a.whitebold:visited {
    color: #c9c9c9;
    text-decoration: none;
}

a.whitebold:active {
    color: #fff;
    text-decoration: none;
}

a.whitebold:hover {
    color: #fff;
    text-decoration: none;
}

.text_copyright {
    background-color: #e8edf1;
    color: #434343;
    font-family: "Arial";
    font-size: 11px;
    height: 24px;
}

.bottom_bg {
    background-color: #a0b9d1;
    border-top: 1px solid #FFFFFF;
    height: 26px;
}

.input_login {
    border: 1px solid #ccccce;
    background-image: url(../images/login_inupt.gif);
    height: 21px;
    width: 180px;
    padding-left: 5px;
    padding-top: 3px;
}

.input_main {
    border: 1px solid #afafaf;
    line-height: 21px;
}

.login_bg {
    background-image: url(../images/login_bg.gif);
    background-color: #345580;
    background-repeat: repeat-x;
}

.banner_bg {
    background-image: url(../images/banner_bg.gif);
    background-repeat: repeat-x;
    height: 70px;
}

.info_text {
    text-align: center;
    color: #9d9d9d;
    font-size: 11px;
}

.hg_logo {
    font-family: "Tohama", "Arial", "";
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #4c4c4c;
    padding: 10px;
}

.graybold {
    font-family: "Tohama", "Arial", "";
    font-weight: bold;
    color: #505050;
    font-size: 25px;
    padding-left: 5px;
    white-space: nowrap;
}

.main_top {
    background-color: #c3d8ea;
    height: 25px;
    line-height: 25px;
    font-family: "Tohama", "Arial", "";
    color: #000;
    font-size: 12px;
    padding-left: 20px;
}

.right_padding {
    padding: 10px;
}

.prompt {
    border: #c5d8e6 1px solid;
    padding: 5px 0px;
    font-family: "Tohama", "Arial", "";
    font-size: 12px;
    height: 35px;
}

.tabal_bg,
.pm_tabal_bg {
    background-color: #c4d8e5;
    background-color: #767676;
}

.table_bg {
    background-color: #767676;
}

.table_title_bg {
    background-color: #c8c8c8;
    font-weight: bolder;
}

.table_title {
    background-color: #E7E7E7;
    padding-left: 5px;
    line-height: 22px;
    font-weight: bold;
}

.table_left {
    background-color: #E7E7E7;
    padding-left: 5px;
    height: 24px;
    line-height: 22px;
    font-weight: bolder;
}

.table_right {
    background-color: #FFFFFF;
    padding-left: 5px;
    height: 24px;
    line-height: 22px;
}

.table_head {
    font-size: 12px;
    font-weight: bold;
    padding-left: 0px 5px;
    height: 20px;
    line-height: 20px;
}

.table_title {
    background-color: #eef2f6;
    background-color: #E7E7E7;
    padding-left: 5px;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
}

.gray {
    color: #767676;
}

.tabal {
    background-color: #d9d9d9;
}

.head_title {
    border: #c4d7e5;
    background-color: #cfdfec;
    background-color: #E7E7E7;
    font-family: "Arial", "";
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #3d5e89;
    height: 20px;
    line-height: 150%;
}

.tabal_head {
    font-family: "Arial", "宋体";
    font-size: 12px;
    font-weight: bold;
    padding-left: 0px 5px;
    color: #3d5e89;
    height: 20px;
    line-height: 150%;
}

.tabal_01 {
    background-color: #eef2f6;
    background-color: #F8F8F8;
    font-family: "Arial", "";
    font-size: 12px;
    color: #000;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
}

.tabal_02 {
    background-color: #f8f8f8;
    font-family: "Arial", "";
    font-size: 12px;
    color: #000;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
}

.mainbody {
    background-color: #ffffff;
    padding: 10px 20px;
    list-style: none;
    color: #000000;
}

.title_01 {
    color: #5c5d55;
}

.title_common {
    color: #5c5d55;
    padding-left: 10px;
    width: 100%;
}

.title_red {
    color: #FF0000;
    padding-left: 10px;
    width: 100%;
}

.text_log {
    width: 100%;
    height: 330px;
    margin-bottom: 20px;
}

.width_auto {
    width: auto;
}

.width_6p {
    width: 6%;
}

.width_9p {
    width: 9%;
}

.width_10p {
    width: 10%;
}

.width_12p {
    width: 12%;
}

.width_15p {
    width: 15%;
}

.width_16p {
    width: 16%;
}

.width_20p {
    width: 20%;
}

.width_25p {
    width: 25%;
}

.width_30p {
    width: 30%;
}

.width_100p {
    width: 100%;
}

.width_per1 {
    width: 1%;
}

.width_per2 {
    width: 2%;
}

.width_per3 {
    width: 3%;
}

.width_per98 {
    width: 98%;
}

.width_per99 {
    width: 99%;
}

.width_per5 {
    width: 5%;
}

.width_per6 {
    width: 6%;
}

.width_per7 {
    width: 7%;
}

.width_per8 {
    width: 8%;
}

.width_per9 {
    width: 9%;
}

.width_per95 {
    width: 95%;
}

.width_per10 {
    width: 10%;
}

.width_per12 {
    width: 12%;
}

.width_per90 {
    width: 90%;
}

.width_per15 {
    width: 15%;
}

.width_per85 {
    width: 85%;
}

.width_per19 {
    width: 19%;
}

.width_per20 {
    width: 20%;
}

.width_per80 {
    width: 80%;
}

.width_per25 {
    width: 25%;
}

.width_per75 {
    width: 75%;
}

.width_per30 {
    width: 30%;
}

.width_per70 {
    width: 70%;
}

.width_per35 {
    width: 35%;
}

.width_per65 {
    width: 65%;
}

.width_per40 {
    width: 40%;
}

.width_per60 {
    width: 60%;
}

.width_per45 {
    width: 45%;
}

.width_per55 {
    width: 55%;
}

.width_per50 {
    width: 50%;
}

.width_per100 {
    width: 100%;
}

.width_per13 {
    width: 13%;
}

.width_per16 {
    width: 16%;
}

.width_per18 {
    width: 18%;
}

.width_98px {
    width: 98px;
}

.width_200px {
    width: 200px;
}

.align_center {
    text-align: center;
}

.pad_l_20px {
    padding-left: 20px;
}

.z_index_2 {
    z-index: 2;
}

.height_5px {
    height: 5px;
}

.color_red1 {
    color: #FF0033;
}

.height3p {
    height: 3px;
}

.height5p {
    height: 5px;
}

.height10p {
    height: 10px;
}

.height15p {
    height: 15px;
}

.height20p {
    height: 20px;
}

.height21p {
    height: 21px;
}

.width_1p {
    width: 1%;
}

.width_3p {
    width: 3%;
}

.width_5p {
    width: 5%;
}

.width_6p {
    width: 6%;
}

.width_8p {
    width: 8%;
}

.width_9p {
    width: 9%;
}

.width_10p {
    width: 10%;
}

.width_13p {
    width: 13%;
}

.width_14p {
    width: 14%;
}

.width_15p {
    width: 15%;
}

.width_16p {
    width: 16%;
}

.width_17p {
    width: 17%;
}

.width_18p {
    width: 18%;
}

.width_20p {
    width: 20%;
}

.width_25p {
    width: 25%;
}

.width_30p {
    width: 30%;
}

.width_35p {
    width: 35%;
}

.width_40p {
    width: 40%;
}

.width_50p {
    width: 50%;
}

.width_55p {
    width: 55%;
}

.width_60p {
    width: 60%;
}

.width_65p {
    width: 65%;
}

.width_75p {
    width: 75%;
}

.width_80p {
    width: 80%;
}

.width_83p {
    width: 83%;
}

.width_85p {
    width: 85%;
}

.width_87p {
    width: 87%;
}

.width_99p {
    width: 99%;
}

.width_95p {
    width: 95%;
}

.width_100p {
    width: 100%;
}

.width_20px {
    width: 20px;
}

.width_123px {
    width: 123px;
}

.width_135px {
    width: 135px;
}

.width_150px {
    width: 150px;
}

.width_155px {
    width: 155px;
}

.width_156px {
    width: 156px;
}

.width_186px {
    width: 186px;
}

.width_200px {
    width: 200px;
}

.width_254px {
    width: 254px;
}

.width_260px {
    width: 260px;
}

.align_left {
    text-align: left;
}

.align_right {
    text-align: right;
}

.pad_top5p {
    padding-top: 5px;
}

.pad_left5p {
    padding-left: 5px
}

.pad_left10p {
    padding-left: 10px;
}

.color_red {
    color: #FF0033;
}

.displaynone {
    display: none;
}

.style_ser1 {
    margin-top: none;
    border: none;
}

.tabal_center01 {
    background-color: #f2f2f2;
    font-family: "Arial", "??";
    font-size: 12px;
    color: #000000;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    text-align: center;
}

.title_bright1 {
    text-align: right;
    padding-top: 5px;
}

.width_33p {
    width: 33%;
}

.height_15px {
    height: 15px;
}

.width_23p {
    width: 23%;
}

.align_right {
    text-align: right;
}

.width_10px {
    height: 10px;
}

.width_82p {
    width: 82%;
}

.width_150px {
    width: 150px;
}

.color_red_amp {
    color: #FF0000;
}

.width_123px {
    width: 123px;
}

.width_152px {
    width: 152px;
}

.amp_font {
    font-family: "Arial", "宋体";
}

.height_50p {
    height: 50px;
}

.height_21p {
    height: 21px;
}

.height_15p {
    height: 15px;
}

.height_10p {
    height: 10px;
}

.height_5p {
    height: 5px;
}

.width_5p {
    width: 5%;
}

.width_11p {
    width: 11%;
}

.width_12p {
    width: 12%;
}

.width_13p {
    width: 13%;
}

.width_14p {
    width: 14%;
}

.width_17p {
    width: 17%;
}

.width_18p {
    width: 18%;
}

.width_19p {
    width: 19%;
}

.width_20p {
    width: 20%;
}

.width_24p {
    width: 24%;
}

.width_28p {
    width: 28%;
}

.width_34p {
    width: 34%;
}

.width_70p {
    width: 70%;
}

.width_73p {
    width: 73%;
}

.width_75p {
    width: 75%;
}

.width_76p {
    width: 76%;
}

.wid_40px {
    width: 40px;
}

.wid_50px {
    width: 50px;
}

.wid_70px {
    width: 70px;
}

.wid_125px {
    width: 125px;
}

.wid_150px {
    width: 150px;
}

.wid_155px {
    width: 155px;
}

.wid_383px {
    width: 383px;
}

.wid_100px {
    width: 100px;
}

.wid_280px {
    width: 280px;
}

.table_right_pwd {
    background-color: #F8F8F8;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
}

.table_title_pwd {
    background-color: #E7E7E7;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    font-weight: bolder;
}

.tabal_pwd_notice {
    background-color: #f8f8f8;
    padding-left: 5px;
    height: 15px;
    line-height: 15px;
}

.filewrap {
    margin: 0;
    padding: 0;
}

.fileupload {
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    width: 250px;
    height: 22px;
    position: relative;
    white-space: nowrap;
}

#f_file {
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
    width: 182px;
    height: 19px;
    line-height: 18px;
    color: #777777;
    position: absolute;
    text-align: left;
    font-size: 11px;
    font-family: Arial;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #B5B8C8;
    background-color: #FFFFFF;
}

#t_file {
    right: 0;
    margin: 0;
    padding: 0;
    height: 22px;
    opacity: 0;
    width: 80px;
    filter: alpha(opacity=0);
    position: absolute;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
    cursor: pointer;
    font-size: 50px\9;
}

#f_file1 {
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
    width: 182px;
    height: 19px;
    line-height: 18px;
    color: #777777;
    position: absolute;
    text-align: left;
    font-size: 11px;
    font-family: Arial;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #B5B8C8;
    background-color: #FFFFFF;
}

#t_file1 {
    right: 0;
    margin: 0;
    padding: 0;
    height: 22px;
    opacity: 0;
    width: 80px;
    filter: alpha(opacity=0);
    position: absolute;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
    cursor: pointer;
    font-size: 50px\9;
}

#btnBrowse {
    right: 0;
    z-index: 1;
    width: 65px;
    text-align: center;
    position: absolute;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
}

.color_yellow1 {
    color: #FF9966;
    font-size: larger;
}

.color_bule1 {
    color: #3333FF;
}

.table_button {
    1border: #eef2f6;
    1background-color: #eef2f6;
}

.table_submit {
    1background-color: #eef2f6;
    padding-left: 5px;
    height: 24px;
    line-height: 24px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.submit {
    font: 12px Arial;
}

.ApplyButtoncss,
.CancleButtonCss,
.whitebuttoncss,
.PageNext {
    height: 24px;
    line-height: 24px;
    font: 12px Arial;
}

.submit_bbspuser1 {
    background: #fefefe url(../images/button_bg.gif) center repeat-x;
    font: 12px Arial;
    color: #000;
    height: 20px;
    border: 0px;
    padding-left: 4px;
    padding-right: 5px;
    margin-top: 0px;
}

.pad_left20p {
    padding-left: 20px;
}

.align_center {
    text-align: center;
}

form {
    padding: 0;
    margin: 0;
}

.per_5_10 {
    width: 5%;
}

.per_5_15 {
    width: 5%;
}

.per_8_13 {
    width: 8%;
}

.per_8_15 {
    width: 8%;
}

.per_10_15 {
    width: 10%;
}

.per_13_15 {
    width: 15%;
}

.per_13_16 {
    width: 13%;
}

.per_15_20 {
    width: 15%;
}

.per_15_25 {
    width: 15%;
}

.per_18_21 {
    width: 21%;
}

.per_18_23 {
    width: 18%;
}

.per_18_25 {
    width: 18%;
}

.per_20_25 {
    width: 20%;
}

.per_25_35 {
    width: 25%;
}

.per_30_35 {
    width: 30%;
}

.per_35_40 {
    width: 35%;
}

.per_35_52 {
    width: 35%;
}

.per_40_45 {
    width: 40%;
}

.per_65_48 {
    width: 65%;
}

.per_10_5 {
    width: 10%;
}

.per_9_14 {
    width: 9%;
}

.pix_40_60 {
    width: 40px;
}

.pix_50_80 {
    width: 50px;
}

.pix_70_120 {
    width: 70px;
}

.pix_70_130 {
    width: 70px;
}

.pix_90_130 {
    width: 90px;
}

.pix_100_120 {
    width: 100px;
}

.pix_100_150 {
    width: 100px;
}

.pix_100_180 {
    width: 100px;
}

.NewDelbuttoncss {
    font: 12px Arial;
}

.alignment_rule {
    text-align: right;
}

.divsummaryicon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    float: left;
}

.summaryicon {
    width: 18px;
    height: 18px;
}

.pageicontext {
    height: 18px;
    line-height: 18px;
    text-align: left;
}

.divpageicontext {
    width: 200px;
}


/* old other title css */

.PageTitle_content {
    padding: 5px 0px;
    font-family: "Tohama", "Arial", "宋体";
    font-size: 12px;
    color: #5c5d55;
    padding-left: 10px;
    width: 100%;
}

.title_spread {
    height: 10px;
}

.list_table_spread {
    height: 0px;
}

.func_spread {
    height: 10px;
}

.button_spread {
    height: 5px;
}

.block_title {
    text-align: left;
}

.title_with_desc {
    padding-bottom: 5px;
    font-weight: bold;
}

.func_title {
    font-family: "Arial", "宋体";
    font-size: 12px;
    font-weight: bold;
    padding-left: 0px 5px;
    1color: #3d5e89;
    height: 20px;
    line-height: 150%;
    text-align: left;
}

.tableTopTitle {
    background-color: #FFFFFF;
    padding-left: 5px;
    height: 24px;
    line-height: 150%;
}

.TagTitle {
    font-size: 14px;
    height: 14px;
    text-decoration: none;
    white-space: nowrap;
}

.TagTitle1 {
    text-decoration: none;
}

.TagTitleClick {
    color: #ee4227;
}

.TagTitleNoClick {
    color: #000000;
}

.TagLine {
    font-size: 14px;
    color: #000000;
}

.TagLineSpace {
    width: 10px;
}

.RadioDevice {
    height: 12px;
    font-size: 12px;
}

.LanBg {
    background-color: #f8f8f8;
    height: 24px;
    line-height: 24px;
}

.Devhead_title {
    border: #000000;
    background-color: #E7E7E7;
    font-family: "Arial", "";
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    height: 20px;
    line-height: 150%;
}

.DevTableListTd {
    border: 1px solid #000000;
}

#progress_bar_container {
    position: relative;
    display: none;
    width: 100%;
    height: 35px;
    margin-top: 15px;
    background-color: #c0c0c0;
}

.percentage {
    position: absolute;
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    z-index: 1;
}

.bar {
    position: absolute;
    width: 0;
    height: 35px;
    background-color: #0081cc;
}

.diaghelp {
    position: absolute;
    display: none;
    height: 700px;
    background-color: #feffe0;
}

#Parentalctrlhelp {
    text-decoration: underline;
    font-size: 14px;
    color: #0000FF;
    white-space: nowrap;
}

.table_helptitle {
    background-color: #feffe0;
    padding-left: 5px;
    height: 18px;
    line-height: 16px;
}

.head_helptitle {
    border: #d9d9d9;
    font-family: "微软雅黑";
    background-color: #feffe0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #000;
    height: 18px;
    line-height: 16px;
}

.bg_mappingInput {
    background-color: #ffffff;
}

.PageTitle_content_left{
    margin-left: -19px;
}
