html,body {
    height:100%;
}

body{
    text-align: center;
    margin: 0px auto;
    width: 100%;
    min-width:994px;
}

div#indexpage {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    text-align: left;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:100%;
}
div#indexpage div#headerbg {
    width: 100%;
    height: 56px;
}

div#indexpage div#header {
    width: 1000px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
}
div#indexpage div#header div#headerbrandlog {
    float:left;
    height: 48px;
    width: 48px;
    background:url(../../../images/logo_vdf.jpg) no-repeat center;
    display:none;
    margin-right:10px;
    padding:4px;
}

div#indexpage div#header div#headerProductName {
    font-size: 18pt;
    color:#333;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 16px;
    padding:12px;
    height:28px;
}

div#indexpage div#header div#HeaderRightMenu {
    float: right;
    height: 56px;
    width:  550px;
    margin-top:-56px;
}


div#indexpage div#header div#HeaderRightMenu div#AppDiv {
    float: right;
    height: 30px;
    width:  150px;
    cursor: pointer;
    margin-top:16px;
    display:none;
}

div#indexpage div#header div#HeaderRightMenu div#MaPoniterIcon{
    float: right;
    width:21px;
    height: 30px;
    margin-right:2px;
    background:url(../../../images/mapointericon.jpg) no-repeat center;
}

div#indexpage div#header div#HeaderRightMenu div#MaPoniterText {
    float: right;
    height: 30px;
    cursor: pointer;
}

div#indexpage div#header div#HeaderRightMenu div#D2CodeTop{
    width:130px;
    height:10px;
    margin-left:22px;
    margin-top:13px;
    text-align:center;
}

div#indexpage div#header div#HeaderRightMenu div#D2CodeBottom{
    width:130px;
    height:10px;
    margin-left:22px;
    margin-top:0px;
    text-align:center;
}

div#indexpage div#header div#HeaderRightMenu div#D2CodeTop div.D2CodeCornerRigth{
    width:10px;
    height: 10px;
    float:right;
    background:url(../../../images/D2CodeTR.jpg) no-repeat center;
}

div#indexpage div#header div#HeaderRightMenu div#D2CodeBottom div.D2CodeCornerLeft{
    width:10px;
    height:10px;
    float:left;
    background:url(../../../images/D2CodeBL.jpg) no-repeat center;
}

div#indexpage div#header div#HeaderRightMenu div#D2CodeBottom div.D2CodeCornerRigth{
    width:10px;
    height: 10px;
    float:right;
    background:url(../../../images/D2CodeBR.jpg) no-repeat center;
}

div#indexpage div#header div#HeaderRightMenu div#configguide {
    float: right;
    height: 30px;
    cursor: pointer;
    margin-top:16px;
    display:none;
}

div#indexpage div#header div#HeaderRightMenu div#headerRightProductName {
    float: right;
    height: 56px;
    width: 100px;
    padding-right:0px;
}

.HeaderSpanProduct {
    height: 50px;
    line-height:62px;
    font-size:13px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
    color:#FFFFFF;
}

.HeaderSpanTextGuide {
    height: 30px;
    line-height:30px;
    font-size:14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
    color:#777777;
}

#guidespacetwo {
    display:none;
}

#guidespaceone {
    display:none;
}

.guidespace {
    float: right;
    width: 22px;
    height: 56px;
    text-align:center;
}

.guidespacebar {
    width: 1px;
    height: 17px;
    margin-left:50%;
    margin-top:105%;
    background-color: #777777;
}

div#indexpage div#header div#HeaderRightMenu div#headeruser {
    float: right;
    height: 30px;
    margin-top:16px;
    margin-right:20px;
}

div#indexpage div#header div#HeaderRightMenu div#headerLogout {
    float: right;
    height: 30px;
    cursor: pointer;
    margin-top:16px;
    margin-right:10px;
    text-align:center;
}

#D2CodeDivInfo {
    position:absolute;
    margin-left:0px;
    margin-top:30px;
    width:175px;
    height:205px;
    background:url(../../../images/D2Codebg.jpg) no-repeat center;
    display:none;
}

#FirstLineIcon {
    margin-top:22px;
    height:18px;
    line-height:18px;
}

#phoneicon {
    margin-left:20px;
    float:left;
    width:11px;
}

#phonetext {
    float:left;
    font-size:12px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left:5px;
    color:#9FBD59;
}

#D2CodeIcon {
    height:110px;
    width:175px;
    margin-top:0px;
    margin-left:0px;
    background:url(../../../images/hw_2dcode.gif) no-repeat center;
}

div#indexpage div#maincenter {
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

div#indexpage div#maincenter div#MenuInfo {
    float: left;
    background-color: #CCC;
    height:100%;
    overflow:hidden;
}


div#indexpage div#maincenter div#SecondMenuInfo {
    float: left;
    width:170px;
    background-color: #FFFFFF;
    height:auto;
}

.menuContent{
    height:49px;
    cursor: pointer;
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #C4C8CC;
}

#MenuFirstLineSpace{
    height:50px;
    border-bottom:1px solid #C4C8CC;
}

#MenuFirstLineIcon{
    float:left;
    height:50px;
    width:50px;
}

#MenuFirstLineMid{
    float:left;
    height:50px;
    width:170px;
}

#MenuFirstLineSpaceborder{
    float:left;
    height:50px;
    width:20px;
    background:url(../../../images/menubg.jpg) repeat;
}

#MenuBottomLineSpace{
    height:100%;
    border-top:1px solid #FFFFFF;
}

#MenuBottomLineIcon{
    float:left;
    height:100%;
    width:50px;
}

#MenuBottomLineMid{
    float:left;
    height:100%;
    width:170px;
}

#MenuBottomLineSpaceborder{
    float:left;
    height:100%;
    width:20px;
    background:url(../../../images/menubg.jpg) repeat;
}

.menuContentActive, .menuContent:hover, .menuContent.on{
    color:#E60000;
}

.FirstMenuIcon{
    float: left;
    height:50px;
    width:50px;
}

.menuContTitle{
    float: left;
    font-size:15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    width:160px;
    line-height:50px;
    text-align:left;
    margin-left:10px;
    color:#24282B;
}

.menuContTitleActive, .menuContTitle:hover, .menuContTitle.on{
    color:#E60000;
}

.menuContPointer{
    float: left;
    height:50px;
    width:20px;
}

.menuContPointerdef{
    background:url(../../../images/menubg.jpg) repeat;
}

.menuContPointerActive{
    background:url(../../../images/menuarrow.jpg) no-repeat center;
}

.SecondmenuContent{
    height:50px;
    cursor: pointer;
    border-bottom:1px solid #E5E5E5;
}

.SecondMenuTitle{
    float: left;
    height:50px;
    width:136px;
    font-size:15px;
    line-height:50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:left;
    white-space:nowrap;
    padding-left:10px;
    color:#333333;
    background-color:#F2F2F2;
}

.SecondMenuTitleActive, .SecondMenuTitle:hover, .SecondMenuTitle.on{
    color:#E60000;
}

.SecondMenuPointer{
    float: left;
    width:24px;
    height:50px;
    background:url(../../../images/arrowdown.jpg) no-repeat center;
    background-color:#F2F2F2;
}

.SecondMenuPointerBlock{
    float: left;
    width:24px;
    height:50px;
    background:url(../../../images/arrowup.jpg) no-repeat center;
    background-color:#F2F2F2;
}

.SecondMenuNullPointer{
    float: left;
    width:24px;
    height:50px;
    background-color:#F2F2F2;
}

.Menuhide{
    display:none;
}

.Menushow{
    display:block;
}

.ThirdMenuTitle{
    height:50px;
    width:160px;
    font-size:13px;
    line-height:50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align:left;
    padding-left:16px;
    cursor: pointer;
    background-color:#FFFFFF;
}

.ThirdMenuTitleActive, .ThirdMenuTitle:hover, .ThirdMenuTitle.on{
    cursor: pointer;
    color:#E60000;
}

div#indexpage div#maincenter div#content {
    float: left;
    height:100%;
}

div#indexpage div#fresh {
    display: none;
}

.AspWidth{
    width:760px
}

#cmodeLogout
{
    display:none; 
    float:right; 
    height: 30px; 
    cursor: pointer;
    margin-top: 16px;
    margin-right: 0px;
    text-align: center;
}