body {
	min-width:960px;
	text-align: center;
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
}

#main_wrapper {
	width:100%;
	margin:0px;
	padding:0px;
	border-width:0px;
	text-align:center;
	vertical-align:top;
	background-image:url(../../../images/loginbg.jpg);
    background-size: 100% 100%;
}

#loginarea {
	width:960px;
	height:545px;
	margin-left:auto;
	margin-right:auto;
}

#welcomtext {
	margin-top:70px;
	height: 60px;
	text-align: center;
}

.welcometitle {
	font-size:32px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:#FFFFFF;
}

#logininfo {
	width: 100%;
	height:180px;
	margin-top:100px;
}

.contentItemlogin {
	width: 100%;
	margin-top:12px;
	height: 34px;
}

.labelBoxlogin {
	width: 37%;
	height: 34px;
	line-height:34px;
	text-align:right;
	float:left;
	font-size:16px;
	color:#FFFFFF;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.contenboxlogin {
	width: 63%;
	height: 34px;
	float:right;
	text-align:left;
}

.logininputcss {
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #FFFFFF;
	vertical-align:middle;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	color:#FFFFFF;
	width: 233px;
	padding:5px 0px 7px 0px;
	background-color:transparent;
}

.prompttext {
	font-size:14px;
	color:#bbdbef;
	margin-left:5px;
}

#pwdalarm {
	margin-top:12px;
}

#DivErrPage {
	width:100%;
	height:30px;
	line-height:30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:14px;
	text-align:left;
	color:#ed1212;
	display:none;
}

#DivErrIcon {
	width:22px;
	height:30px;
	float:left;
	background:url(../../../images/loginalarm.jpg) no-repeat left;
}

#DivErrPromt {
	height:30px;
	float:left;
}

.divchooselag {
	height:30px;
	width: 63%;
	float:right;
	text-align:center;
}

.changelanguageline {
	width: 100%;
	height: 30px;
}

.changelanguageleft {
	width: 37%;
	height: 30px;
	line-height:30px;
	text-align:right;
	float:left;
}

.changelanguageright {
	height:30px;
	line-height:30px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	text-align:left;
	color:#FFFFFF;
}

.changelanguage{
	color:#FFFFFF;
	font-size:16px;
}