body {
	text-align: center;
	margin: 0px;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
}
.login_bg {
	background-image: url(../images/loginbg.gif);
	background-color: #FFFFFF;
	background-repeat: no-repeat;
}
#main_wrapper {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	text-align: left;
	vertical-align: top;
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
}
.hg_logo {
	font-family: "Tohama", "Arial", "����";
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	color: #4c4c4c;
	padding: 10px;
}
.whitebold {
	color: #0A0B05;
	font-weight: bold;
	font-size: 14px;
}
.info_text {
	text-align: center;
	color: #9d9d9d;
	font-size: 11px;
}
.submit {
	background: #fefefe url(../images/button_bg.gif) center repeat-x;
	font: 12px Arial, ����;
	color: #000;
	height: 21px;
	border: #c8c8c8 1px solid;
	padding-left: 5px;
	padding-right: 5px;
}
.text_copyright {
	color: #434343;
	font-family: "Arial";
	font-size: 11px;
	height: 24px;
}
.input_uname {
	border: 0px solid #ccccce;
	background-image: url(../images/uname.gif);
	height: 40px;
	width: 240px;
	padding-left: 5px;
	padding-top: 7px;
}
.input_upwd {
	border: 0px solid #ccccce;
	background-image: url(../images/upwd.gif);
	height: 38px;
	width: 240px;
	padding-left: 5px;
	padding-top: 7px;
}
.btn {
	background-image: url(../images/subbtn.gif);
	height: 27px;
	width: 83px;
	line-height:22px;
	color:#0A0B05; 
	font-size:14px; 
	border:0;
	cursor:pointer;
	
	font-weight:600;
	background-repeat: no-repeat;
}
.btn_link_netaddr {
	border:0;
	background-image: url(../images/netAddr.gif);
	height: 14px;
	width: 124px;	
	background-repeat: no-repeat;
}
.btn_link_phone {
	border:0;
	background-image: url(../images/phone.gif);
	height: 14px;
	width: 59px;	
	background-repeat: no-repeat;
}

.upgradeinfo{
	font-family: "Arial", "";
	font-size: 12px;
}
