feature.include="base_smt_ft.cfg"
feature.include="eai_ft.cfg"

#北坡联通产品支持C插件特性开关
feature.name="FT_SMART_REMOTE_MANAGE" feature.enable="1"
feature.name="HW_FT_OSGI_CPLUGIN" feature.enable="1"

#是否支持EAI小类应用配置
feature.name="FT_EAI_SUPPORT_APPS_CONFIG" feature.enable="1"

#支持联通DBUS 二次定制
feature.name = "FEATURE_CU_DBUS" feature.enable="0" feature.attribute="1"
feature.name = "FT_SUPPORT_USERDEV_RATE" feature.enable="0" feature.attribute="1"

feature.name = "BBSP_FT_PORTAL_ONCE_FIRST_USE" feature.enable="0" feature.attribute="1"

feature.name = "HW_FT_WEB_INDEPEND_HTTPS_PORT" feature.enable="1" feature.attribute="1"

#EAI加速特性开关
feature.name="FT_EAI_APP_SUPPORT" feature.enable="1" feature.attribute="1"
feature.name="FT_EAI_APP_IDENTIFY" feature.enable="1" feature.attribute="1"
feature.name="FT_EAI_APP_IDENTIFY_EDU" feature.enable="1" feature.attribute="1"
feature.name="FT_EAI_APP_IDENTIFY_OFFICE" feature.enable="1" feature.attribute="1"
feature.name="FT_EAI_APP_IDENTIFY_STREAM" feature.enable="1" feature.attribute="1"