body {
	text-align: center;
	margin: 0px;
	font-family:"微软雅黑";
	font-size: 12px;
}

#main_wrapper {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	text-align: center;
	vertical-align: top;
	position: fixed;
	overflow: auto;
	background-size: cover;
	background-image:url(../../../images/loginbg_ORANGEMT.jpg) no-repeat center center;
}

#loginarea {
	width:960px;
	height:545px;
	margin-left:auto;
	margin-right:auto;
}

#welcomtext {
	margin-top:70px;
	height: 60px;
	text-align: center;
}

.welcometitle {
	font-size:32px;
	font-family:"微软雅黑";
	color:#FFFFFF;
}

#logininfo {
	width: 100%;
	height:180px;
	margin-top:100px;
}

.contentItemlogin {
	width: 100%;
	margin-top:12px;
	height: 34px;
}

.labelBoxlogin {
	width: 37%;
	height: 34px;
	line-height:34px;
	text-align:right;
	float:left;
	font-size:16px;
	color:#FFFFFF;
	font-family:"微软雅黑";
}

.contenboxlogin {
	width: 63%;
	height: 34px;
	float:right;
	text-align:left;
}

.logininputcss {
	border:1px solid #FFFFFF;
	font-family: Helvetica, Arial;
	font-size: 25px;
	color:#848484;
	width: 70%;
	background-color:#e9e9e9;
	padding: 5px 15px;
	margin: 10px 30px;
	outline: none;
	height: 50px;
}

.prompttext {
	font-size:14px;
	color:#bbdbef;
	margin-left:5px;
}

#pwdalarm {
	margin-top:12px;
}

#DivErrPage2 {
	width:100%;
	height:30px;
	line-height:30px;
	font-family:"微软雅黑";
	font-size:14px;
	text-align:left;
	color:#ed1212;
	display:none;
}

#DivErrIcon2 {
	width:22px;
	height:30px;
	float:left;
	margin-left: 21%;
	background:url(../../../images/loginalarm.jpg) no-repeat left;
}

#DivErrPromt2 {
	margin: 0 26%;
}

#brandlog_telmex{
	float:left;
	width:187px;
	height:63px;
}
.divchooselag {
	height:30px;
	width: 63%;
	float:right;
	text-align:center;
}

.changelanguageline {
	width: 100%;
	height: 30px;
}

.changelanguageleft {
	width: 37%;
	height: 30px;
	line-height:30px;
	text-align:right;
	float:left;
}

.changelanguageright {
	height:30px;
	line-height:30px;
	font-family:"微软雅黑";
	font-size:16px;
	text-align:left;
	color:#FFFFFF;
}

.changelanguage{
	color:#FFFFFF;
	font-size:16px;
}
.accordion {
  margin-top: 10px;
}
.accordion-toggle {
  cursor: pointer;
}
.text_underline {
  text-decoration: underline;
}
.index_page_font_color {
  font-size: 14px;
  color: #74797b;
}
.text_center {
  text-align: center;
}
.hide {
	display:none;
}
.accordion-inner {
  padding: 9px 15px;
}
.rounddiv {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div#gate_info {
  margin: 25px auto;
}
.getaccount_part_body {
  background-color: #f5f5f5;
  height: 30px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
}

.getaccount_info {
  background-color: #FFFFFF;
}
.paddingbottom_20 {
  padding-bottom: 20px;
}
.getaccount_part {
  border-style: solid;
  border-color: #D9D9D9;
  border-width: 1px;
}
.paddingtop_8 {
  padding-top: 8px;
}
.bodydiv.rounddiv.getaccount_info.paddingbottom_20 {
  text-align: left;
}
.bodydiv.rounddiv.paddingtop_8.getaccount_part_body.index_page_font_color {
  text-align: center;
}
.getaccount_info {
  text-align: left;
  padding:5px;
}

.accordion-heading.marginright_35 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
#centerLoginDiv {
  background-color: white; 
  width:480px; 
  height:600px; 
  margin: 0 auto; 
  margin-top: 140px;
  -webkit-box-shadow: #433a3a 0px 0px 10px;
  -moz-box-shadow: #433a3a 0px 0px 10px;
  box-shadow: #433a3a 0px 0px 10px;
}
#centerLogo {
  background: url(../../../images/ORANGEMTLogo.jpg) no-repeat center;
  height: 140px;
  transform: scale(0.75);
}
#centerWelcomeTitle {
	font-size: 25px;
	font-family: Helvetica, Arial;
	margin-top: -20px;
	color: #d43f8d;
}
#centerWelcomeSubTitle {
	font-size: 40px;
	font-family: "Helvetica Medium", Helvetica, Arial;
	margin: 35px 0;
	color: black;
}
#loginbutton2 {
	font-size: 30px;
	font-family: "Helvetica Medium", Helvetica, Arial;
	margin: 10px 30px;
	padding: 5px 0;
	background-color: #d43f8d;
	color: white;
	width: 70%;
	border: none;
	height: 50px;
}
#loginbutton2:hover{
	cursor: pointer;
	background-color: #da1f81;
}
#loginbutton2:disabled{
	cursor: default;
	background-color: #848484;
}
input:-webkit-autofill{
    box-shadow: 0 0 0 400px #e9e9e9 inset !important;
}
